<%- include("_header") -%>

<h1>Lab 4 & 5 Car Data</h1>

<p>This is the web application I have that will cover for labs 4 and 5 for CISC 3140. It's function will be to display
    each information about a car and it's owner with various other information as well. This communicates back and forth
    with the SQLite3 database to retrieve and return information.
</p>

<%- include("_footer") -%>
